
<div class="container">
    <% if(locals.isAuthenticated) { %>

        <h2>Dashboard</h2>
        <label>name</label>
        <p><%=locals.name%></p>
        <br/>
        <label>email</label>
        <p><%=locals.email%></p>
        <br/>
        <label>notes</label>
        <p id="notes"></p>
        <br/>
        <label>memos</label>
        <p id="memos"></p>

    <% } else { %>

        <h3>Please, Sign in</h3>

    <% } %>
</div>

<script>
    // async function getUserSalt() {
    //     try {
    //         let response = await fetch("/api/user/getSalt", {
    //             method: "GET" 
    //         })
            
    //         if(response.status === 200) {
    //             let {salt} = await response.json();
    //             return salt;
    //         } else {
    //             console.log('error geting user salt')
    //         }
    //     } catch(err) {
    //         console.error(err)
    //     }
    // }

    const getUserNotesCount = async () => {
        try {
            let responseNotes = await fetch("/api/notes/getCount", {
                method: "GET" 
            })
            
            if(responseNotes.status === 200) {
                let notesCount = await responseNotes.json();
                document.querySelector('#notes').innerHTML = notesCount
            } else {
                console.log('error geting notes count')
            }
        } catch(err) {
            console.error(err)
        }
    }

    const getUserMemosCount = async () => { 
        try {
            let responseMemos = await fetch("/api/memos/getCount", {
                method: "GET" 
            })
            
            if(responseMemos.status === 200) {
                let memosCount = await responseMemos.json();
                document.querySelector('#memos').innerHTML = memosCount
            } else {
                console.log('error geting memos count')
            }
        } catch(err) {
            console.error(err)
        }
    }

    getUserNotesCount()
    getUserMemosCount()
</script>