<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecretNotes Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" placeholder="Valid Email">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" placeholder="Password">
                    </div>
                    <button class="button login__submit">
                        <span class="button__text">Log In</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>				
                </form>
                <div class="social-login">
                    <h3>SecretNotes</h3>
                    <!-- <div class="social-icons">
                        <a href="#" class="social-login__icon fab fa-instagram"></a>
                        <a href="#" class="social-login__icon fab fa-facebook"></a>
                        <a href="#" class="social-login__icon fab fa-twitter"></a>
                    </div> -->
                </div>
            </div>
            <div class="screen__background">
                <!-- <span class="screen__background__shape screen__background__shape4"></span> -->
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="scripts/cryptography.js"></script>
    <script>
        async function sendEncryptedData(cipherText){

            const code = await encrypt(cipherText, 'v1126v');

            console.log('send from browsed data: ' + code)

            fetch("http://localhost:3000/api/test/data", {
                method: "POST",
                body: JSON.stringify({
                    data: code
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
            // .then((response) => response.json())
            // .then((json) => console.log(json));
        }

        async function encryptText() {
            document.getElementById('text').value = await encrypt(document.getElementById('text').value, 'v1126v')
        }
        async function decryptText() {
            document.getElementById('text').value = await decrypt(document.getElementById('text').value, 'v1126v')
        }
    </script>
</head>
<body>
    <h1>Home page</h1>
    <p>Server running on port: </p>

    <textarea id="text" name="data" rows="15" cols="100" ></textarea>
    <button onclick="sendEncryptedData(document.getElementById('text').value)">Encrypt</button>
    <button onclick="decryptText()">Decrypt</button>
    
</body>


</html> -->