<div class="screen">
    <div class="container">
        <form class="login">
            <h3>Secret Notes</h3>
            <div>
                <i></i>
                <input type="text" placeholder="Valid Email">
            </div>
            <div>
                <i></i>
                <input type="password" placeholder="Password">
            </div>
            <button class="button login__submit">
                <span>Log In</span>
                <i></i>
            </button>				
        </form>
        <div class="social-login"> 
        </div>
    </div>
</div> 

