<div class="screen">
    <div id="container" class="container">
        <div id="form">
            <h3>Log In</h3>
            <div>
                <i><label for="email">Your email</label></i>
                <input id="email" name="email" type="email" placeholder="email">
            </div>
            <div>
                <i><label for="password">Master password</label></i>
                <input id="password" name="passwordHash" type="password" placeholder="password">
            </div>
            <button id="btnLogin" onclick="submit()" class="button login__submit">
                <span>Log In</span> 
            </button>				
        </div>
        
        <div class="social-login"> 
        </div>
    </div>
</div>

<script>
    sessionStorage.removeItem('pwd');

    document
            .getElementById("container")
            .addEventListener("keypress", function (event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    document.getElementById("btnLogin").click()
                }
            });

    async function submit() {
        let email = document.getElementById('email').value
        let pwd = document.getElementById('password').value
        let passwordHash = await getHash(document.getElementById('password').value)

        // postData('/login', {email: email, passwordHash: passwordHash}, 'post');
        
        let response = await fetch("http://localhost:3000/api/user/login", {
            method: "POST",
            // redirect: "follow",
            body: JSON.stringify({
                email: email,
                passwordHash: passwordHash
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })

        if (response.status === 200) {
            let {salt} = await response.json()
            let encryptedPwd = await encrypt(pwd, salt)
            sessionStorage.setItem('pwd', encryptedPwd);
            window.location.href = '/';
        }
        else {
            document.getElementById('email').value = ''
            document.getElementById('password').value = ''
        }

        

        // let response = await fetch("http://localhost:3000/api/user/login", {
        //     method: "POST",
        //     redirect: "follow",
        //     body: JSON.stringify({
        //         email: email,
        //         passwordHash: passwordHash
        //     }),
        //     headers: {
        //         "Content-type": "application/json; charset=UTF-8"
        //     }
        // })

        // let data = await response.json()
        // if(response && (response.status === 200)) {
        //     console.log(data)
        //     sessionStorage.setItem("token", data.token)
        // }
        // else{
        //     document.getElementById('email').value = ''
        //     document.getElementById('password').value = ''
        // }
        
    }

    // function postData(path, params, method) {   
    //     const hidden_form = document.createElement('form'); 
    //     hidden_form.method = method || 'post'; 
    //     hidden_form.action = path; 
            
    //     for (const key in params) { 
    //         if (params.hasOwnProperty(key)) { 
    //             const hidden_input = document.createElement 
    //                 ('input'); 
    //             hidden_input.type = 'hidden'; 
    //             hidden_input.name = key; 
    //             hidden_input.value = params[key]; 

    //             hidden_form.appendChild(hidden_input); 
    //         } 
    //     } 

    //     document.body.appendChild(hidden_form); 
    //     hidden_form.submit(); 
    // }
</script>