<h4>Notes: </h4>
<label for='search'>Search</label>
<input type="search" name="search" id="search"/>
<br/>
<button id="btnAddNew" onclick="window.location.href='/notes/add'">Add</button>

<div class="container">
    <div class="notes">
        <% for(let i = 0; i < locals.notes.length; i ++) { %>
            <a class="note" href="/notes/note?id=<%-locals.notes[i]._id%>">
                <h4><%-locals.notes[i].title%></h4>
                <p><%-locals.notes[i].description%></p>
                <br/>
            </a>
        <% } %>
    </div>
</div>