
<nav class="notesBar">
    <ul>
        <li>
            <a href="/notes/add" class="icon icon-addNote">
                <!-- <img src="/icons/add-note-svgrepo-com.svg" width="32" height="32"/> -->
            </a>
        </li>
        <li class="float-right">
            <input type="search" name="search" id="search" placeholder="search"/>
        </li>
    </ul>
</nav>

<div class="container">
    <% for(let i = 0; i < locals.notes.length; i ++) { %>
        <a class="note" href="/notes/note?id=<%-locals.notes[i]._id%>">
            <h4><%-locals.notes[i].title%></h4>
            <p><%-locals.notes[i].description%></p>
        </a>
    <% } %>
</div>