<div class="screen">
    <div class="container">
        <div class="signup">
            <h3>Sign Up</h3>
            <div>
                <i><label for="name">User name</label></i>
                <input id="name" type="text" placeholder="Name">
            </div>
            <div>
                <i><label for="email">Valid email for activation</label></i>
                <input id="email" type="email" placeholder="Email">
            </div>
            <div>
                <i><label for="password">Master password</label></i>
                <input id="password" type="password" placeholder="Password">
            </div>
            <button onclick="submit()" class="button signup__submit">
                <span>Sign up</span>
                <i></i>
            </button>				
        </div>
        
        <div class="social-signup"> 
        </div>
    </div>
</div> 

<script>
    async function submit() {
        let name = document.getElementById('name').value
        let email = document.getElementById('email').value
        let password = document.getElementById('password').value

        let response = await fetch("/api/user/signup", {
            method: "POST",
            body: JSON.stringify({
                name: name,
                email: email,
                passwordHash: await getHash(password)
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
        
        if(response && (response.status === 200)) {
            //window.location.replace("/");
            window.location.href = '/login';
        }
    }
</script>