<nav class="navBar">
    <ul>
        <li class="float-left"><a href="/">SecretNotes</a></li>
        <li class="float-right"><a href="/login">Login</a></li>
        <li class="float-right"><a href="/signup">Sign up</a></li>
    </ul>
</nav>